@tailwind base;

/* Write your own custom base styles here */

.title-header::after {
  position: absolute;
  height: 1px;
  width: 10%;
  bottom: -10px;
  left: 50%;
  content: ' ';
  background-color: #333;
  transform: translateX(-50%);
}

* {
  font-family: 'PT Serif', sans-serif;
  outline: none !important;
}

.fab {
  display: flex !important;
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* ESTILO VEM AQUI */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
